BNB_TESTNET_RPC_URL=https://data-seed-prebsc-1-s1.bnbchain.org:8545
POLYGON_AMOY_RPC_URL=https://rpc-amoy.polygon.technology
DEPLOYER_PRIVATE_KEY=replace_with_testnet_wallet_private_key_without_0x
BSCSCAN_API_KEY=replace_with_bscscan_api_key_optional
POLYGONSCAN_API_KEY=replace_with_polygonscan_api_key_optional
